<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home |Apk1</title>
</head>
<body>
 <nav>
  <ol>
   <li><a href="{% url 'home' %}">Home</a></li>
   <li><a href="{% url 'about' %}">About</a></li>
   <li><a href="{% url 'contact' %}">Contact</a></li>
  </ol>
 </nav>
 <h1>Home page</h1>
 <hr>
 {% if result.id %}
 <h1>tASK ID:</h1><h2>{{result.id}}</h2>
  <a href="{% url 'results' result.id %}">Check result</a>
 {% endif %}
</body>
</html>